<h1>
  <%= @user.full_name %>
</h1>
<p>
  <%= @user.username %>

  <% unless current_user.id == @user.id %>
    <% if current_user.already_followed?(@user.id) %>
      <%= link_to 'Unfollow', delete_follow_path(@user), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Follow', follow_path(@user), method: :post, class: 'btn btn-warning'  %>
    <% end %>
  <% end %>
</p>
<p>
</p>

<table class="table"> 
  <tr>
    <th style="text-align: center;">tweets</th>
    <th style="text-align: center;"><%= link_to 'Followers', follower_users_path(@user) %></th>
    <th style="text-align: center;"><%= link_to 'Following', followings_users_path(@user) %></th>
  </tr>
  <tr>
    <td style="text-align: center;"><%= @user.tweets.size %></td>
    <td style="text-align: center;"><%= @user.followers.size %></td>
    <td style="text-align: center;"><%= @user.following.size %></td>
  </tr>
</table>

<div class="row">
  <div class="col-12">
    <div class="my-4 col-6 mx-auto">
      <%= link_to 'Tweet', new_tweet_path, class: 'btn btn-success btn-lg' %>
    </div>

    <% @tweets.each do |tweet| %>
      <div class="card my-4 mx-auto col-6 ">
        <div class="card-header">
          <%= tweet.user.full_name %>, @<%= tweet.user.username %> - <%= time_ago_in_words(tweet.created_at) %> ago<br>
        </div>
        <div class="card-body">
          <%= tweet.body %>
        </div>
      </div>
    <% end %>
  </div>
</div>