<h1>
  <%= @user.full_name %>
</h1>
<p>
  <%= @user.username %>
</p>

<table>
  <tr>
    <th>tweets</th>
    <th><%= link_to 'Followers', follower_users_path(@user) %></th>
    <th><%= link_to 'Following', followings_users_path(@user) %></th>
  </tr>
  <tr>
    <td><%= @user.tweets.size %></td>
    <td><%= @user.followers.size %></td>
    <td><%= @user.following.size %></td>
  </tr>
</table>

<% @tweets.each do |tweet| %>
  <%= tweet.user.full_name %>, @<%= tweet.user.username %> - <%= time_ago_in_words(tweet.created_at) %> ago<br>
  <%= tweet.body %><br><br>
<% end %>